<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>방명록</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<form id="like_btn_form" method="get" action="guestbooks/pushPlusLike">
  <tr th:if="${posts.size() != 0}" th:each="post: ${posts}">
    <div class="box">
      <div class="inline">id :</div>
      <div class="inline" th:text="${post.getId()}"></div>
      <br>
      <div class="inline">name :</div>
      <div class="inline" th:text="${post.getName()}"></div>
      <br><br>
      <td th:text="${post.getContent()}"></td>
      <br><br>
      <td th:text="${post.getDateTime()}"></td>
      <br><br>
      <td th:text="${post.getLiked()}"></td>
      <button type="submit" name="id" th:value="${post.getId()}" form="like_btn_form">좋아요</button>
      <td th:text="${post.getHate()}"></td>
      <button type="submit" name="id" th:value="${post.getId()}"
              formaction="/guestbooks/pushPlusHate">싫어요
      </button>
      <br><br>
    </div>
  </tr>
</form>
<br><br><br><br><br>
<form action="/guestbooks/write" method="post">
  <div class="form-group">
    <label for="name">이름</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="content">내용</label>
    <input type="text" id="content" name="content">
    <br>
    <input type="submit" value="저장">
  </div>
</form>
</body>
<ul>
  <p th:if="${duplicateName}" th:text="${duplicateName}"></p>
  <p th:if="${lessThanOneMinute}" th:text="${lessThanOneMinute}"></p>
</ul>
<script th:if="${lessThanOneMinute}" th:inline="javascript">
  /*<![CDATA[*/
  alert(/*[[ ${lessThanOneMinute} ]]*/);
  /*]]*/
</script>
</html>