<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>방명록</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<form id="like_btn_form" method="get" action="guestbooks/pushPlusLike">
  <tr th:if="${posts.size() != 0}" th:each="post: ${posts}">
    <div class="box">
      <div class="inline">id :</div>
      <div class="inline" th:text="${post.getId()}"></div>
      <br>
      <div class="inline">name :</div>
      <div class="inline" th:text="${post.getName()}"></div>
      <br><br>
      <td th:text="${post.getContent()}"></td>
      <br><br>
      <td th:text="${post.getDateTime()}"></td>
      <br><br>
      <td th:text="${post.getLiked()}"></td>
      <button type="submit" name="id" th:value="${post.getId()}" form="like_btn_form">좋아요</button>
      <td th:text="${post.getHate()}"></td>
      <button type="submit" name="id" th:value="${post.getId()}"
              formaction="/guestbooks/pushPlusHate">싫어요
      </button>
      <br><br>
    </div>
  </tr>
</form>
<br><br><br><br><br>
<form th:object="${postForm}" action="/guestbooks/write" method="post">
  <div class="form-group">
    <label th:for="name">이름</label>
    <input type="text" th:field="*{name}" required>
    <br>
    <label th:for="content">내용</label>
    <input type="text" th:field="*{content}">
    <br>
    <input type="submit" value="저장">
  </div>
</form>
<ul>
  <p th:if="${msg}" th:text="${msg}"></p>
</ul>
</body>
<script th:if="${msg}" th:inline="javascript">
  /*<![CDATA[*/
  alert(/*[[ ${msg} ]]*/);
  /*]]*/
</script>
</html>